<link rel="stylesheet" type="text/css" href="styles/options.css">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BarHawk</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button ng-click='logOut()'>Logout</li>
                <li>
                    <button ng-click='closeTabOnly()' ng-disabled="orderCloseSuccess || tabSuccess">Close Bar Tab</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="results">
    <p ng-show='tabFail'>You've already closed your tab or have yet to order a drink!</p>
    <!-- success message when bar tab is closed-->
    <p ng-show='tabSuccess'>You've successfully closed your tab. Total: ${{userTab.totalprice}}</p>
    <!-- success message when tab is closed and order is placed-->
    <p ng-show='orderCloseSuccess'> You've successfully placed an order for {{savedDrinkType}} and closed your tab. Tab Total: ${{userTab.totalprice}}</p>
    <!-- success message when order is added to bar queue -->
    <p ng-show='orderSuccess'>Order for {{savedDrinkType}} placed.</p>
    <!-- error message -->
    <p ng-show='orderFail'>Sorry! There was an error. </p>
    <!-- ng show for closing tab with high BAC -->
    <!-- <p>You're above the legal driving limit, please call a cab. Yellow Cab: 415-333-3333</p> -->
</div>
<!-- BAC INFO -->
<div class="row">
    <div class="sidebar col-xs-12 col-sm-4 col-sm-4-push-4" style="text-align:center">
        <!-- <h1>Hi, {{currentUser.firstname}}!</h1> -->
        <div id='bar-chart'>
            <h2 id='bacTitle'>{{currentUser.firstname}}'s Blood Alcohol Content</h2>
            <h2><strong>{{currentUser.BAC}}%</strong></h2>
            <!-- <h2>Hi, {{currentUser.firstname}}!</h2> -->
            <h4 ng-show='!canDrive'>*Above the legal driving limit, please do not drive *</h4>
            <h4 ng-show='canDrive'>Currently below the legal driving limit*</h4>
            <!--
    <h4 ng-show= '!canDrive'>{{currentUser.firstname}}, you are currently above the legal driving limit, please do not drive *</h4>
    <h4 ng-show= 'canDrive'>{{currentUser.firstname}}, you are currently below the legal driving limit of 0.08 *</h4> -->
            <!-- <h4>Drink Count: {{currentUser.drinkCount}}</h4> -->
            <h4>{{currentUser.drinkCount}} drink(s) consumed since {{timeOfFirstDrink}} today</h4>
            <h4> Estimated BAC: {{currentUser.BAC}}</h4>
            <button class='btn btn-primary' ng-click='showme=true'>What's BAC?</button>
            <button class='btn btn-primary' ui-sref='statistics'>My Stats</button>
        </div>
        <div id='bacdiv' ng-show='showme'>
            BAC Chart Values
            <br>
            <br>
            <p align="left">0.00 – 0.03% Normal behavior, no impairment</p>
            <p align="left">0.03 – 0.06% Mild euphoria and impairment; decreased inhibitions</p>
            <p align="left">0.06 – 0.10% Buzzed, euphoric, increased impairment</p>
            <p align="left">0.10 – 0.20% Drunk, emotional swings, slurred speech, nausea</p>
            <p align="left">0.20 – 0.30% Confused, nauseated, poor mentation, blackout</p>
            <p align="left">0.30 – 0.40% Possibly unconscious, unarrousable, loss of bladder function</p>
            <p align="left">Above 0.40% Unconscious, coma, impaired breathing, risk of death</p>
            <div ng-click='showme=false' id='hideBAC'> Hide BAC Info</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-8-pull-4">
        <!-- CURRENT ORDER -->
        <div class="orderInfo" "drinkDisplay">
            <div class='orderDisplay'>
                <p class="order">
                    <div class="selection"> Order:
                        <br>{{ order.drinkType }} </div>
                    <img class="sideDrink" ng-src="{{order.imageurl}}" />
                </p>
                <button ng-click='orderOnly()'>Submit Order</button>
                <br>
                <button ng-click='orderAndCloseTab()'>Submit and Close Tab</button>
            </div>
            <div class="col-md-1"></div>
            <!-- SELECTION OPTIONS -->
            <div class="selectionOptions">
                <ul>
                    <div class="col-md-6">
                        <li>
                            <input type="radio" id="all-option" ng-model="selectedType" name="selector" value="">
                            <label for="all-option">All</label>
                        </li>
                        <li>
                            <input type="radio" id="b-option" ng-model="selectedType" name="selector" value="beer">
                            <label for="b-option">Beer</label>
                        </li>
                        <li>
                            <input type="radio" id="w-option" ng-model="selectedType" name="selector" value="wine">
                            <label for="w-option">Wine</label>
                        </li>
                        <li>
                            <input type="radio" id="m-option" ng-model="selectedType" name="selector" value="mixed">
                            <label for="m-option">Mixed Drinks</label>
                        </li>
                        <li>
                            <input type="radio" id="l-option" ng-model="selectedType" name="selector" value="liquor">
                            <label for="l-option">Liquor</label>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="col-md-3">
                <!-- OPTIONS FOR ORDERING MENU- by name, price, calories, carbs, sugar -->
                <label class="selectionOptions">Order by...</label>
                <select class="selectionOptions" ng-model="selectedOrder" ng-options="option for option in options" ng-change="sortDrinks()">
                    <option value="" disabled selected>Options</option>
                </select>
            </div>
        </div>
        <!-- LIST OF DRINKS -->
        <div class="drinks" "drinkDisplay">
            <br>
            <ul>
                <li ng-repeat="drink in drinks.list">
                    <div class="col-md-4" ng-if="filterType(drink)">
                        <div class="drinkCell" ng-click="selectDrink(drink.name); order.drinkType = drink.name; order.imageurl = drink.imageurl;" ng-class="{selectedDrink: drink.name === selectedDrink}">
                            <img ng-src="{{drink.imageurl}}" alt="alt" ng-model="order.drinkType" />
                            <br>
                            <p class="drinkName"> {{ drink.name }} </p>
                            <p class="drinkPrice"> ${{ drink.price }} </p>
                            <p class="drinkInfo"> Sugar:{{ drink.sugar }}g</p>
                            <p class="drinkInfo"> Carbs:{{ drink.carbs }}g</p>
                            <p class="drinkInfo"> Alcohol: {{ drink.alcohol }}g </p>
                            <p class="drinkInfo"> Calroies: {{ drink.calories }} </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <br>
    </div>
    <br>
</div>
