    html {
        background: url(http://res.cloudinary.com/df1u5o3g6/image/upload/v1458603380/background_g3ksno.jpg) no-repeat center center fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body {
        background-color: rgba(255, 255, 255, .01);
        padding: 0px;
    }

    @media(min-width:780px) {
        .sidebar {
            position: fixed;
            right: 0;
            top: 10%;
        }
        .sidebar h1 {
            font-size: 5em;
        }
        ul li .drinkCell img {
            height: 15em;
        }
    }

    @media(max-width:700px) {
    ul li .drinkCell img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80px!important;

        /*display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;*/
    }
    .selectionOptions ul {
    margin-top: 10%;
    white-space: normal!important;
}
    .selectionOptions ul li label {
        cursor: pointer;
        position: relative;
        font-weight: 300;
        font-size: 150%!important;
        -webkit-transition: all 0.25s linear;
    }
    .selectionOptions ul li {
        color: black;
        display: inline-block;
        padding: .5%!important;
    }

    }
    /*STYLING FOR MENU OPTIONS*/
    #bar-chart {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    }

    .selectionOptions {
        text-align: center;
        max-width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .selectionOptions ul {
        white-space: nowrap;
        padding: 0px;
        text-align: center;
        ::-webkit-padding-start: 0px;
    }

    .selectionOptions ul li {
        color: black;
        display: inline-block;
        padding: 5%;
    }

    .selectionOptions ul li input[type=radio] {
        position: absolute;
        visibility: hidden;
    }

    .selectionOptions ul li label {
        cursor: pointer;
        position: relative;
        font-weight: 300;
        font-size: 2em;
        -webkit-transition: all 0.25s linear;
    }

    .selectionOptions ul li label:hover {
        color: #800000;
    }

    .selectionOptions input[type=radio]:checked ~ label {
        color: #800000;
    }

    ul li .drinkCell img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 15em;
    }

    .drinkDisplay {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 25px;
        overflow-y: auto;
        max-height:41em;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    /*.drinkDisplay::-webkit-scrollbar {
      width:30px;
    }*/
    .drinkDisplay::-webkit-scrollbar {
      background:transparent;
      width:10px;
      margin-top: 20px;
    }
    .drinkDisplay::-webkit-scrollbar-thumb {
      background:#999 !important;
      width: 5px;
      border-radius: 10px;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .drinkDisplay ul {
        padding-bottom: 5%;
        padding-top: 5%;
        padding-right: 4%;
        -webkit-columns: 3;
        -moz-columns: 3;
        list-style-type: none;
    }

    .sideDrink{
        height: 15%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 15em;
    }

    ul li .drinkCell {
        height: 5%;
        -webkit-column-break-inside: avoid;
        text-align: center;
    }

    .drinkPrice,
    .drinkName {
        display: inline;
        font-size: 1em;
        color: black;
    }

    .drinkName {
        font-weight: bold;
    }
    /*submit order + submit order + close buttons*/

    img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 1.5em;
    }

    .order {
        color: black;

        font-size: 2em;
    }

    .selection,
    #results {
        color: black;
        font-size: 1.5em;

    }

    .title-heading {
        color: black;
        font-size: 6em;
        text-align: center;
        max-width: 40%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .btn-primary {
        background-color: #800000;
        position: relative;
        display: inline-block;
        margin: 0 .5em 0 .5em;
    }

    .btn-primary:hover {
        background-color: #b30000;
    }

    .btn-primary:focus {
        background-color: #800000;
    }

    .btn-primary:active {
        background-color: #800000;
    }

    .topButtons {
        position: relative;
        display: inline-block;
        float: right
    }

    .BAC {
        color: #800000;
        text-align: center;
    }
