body {
    /*background: url("jcBar.jpg");*/
    background-size: cover;
    background-color: black;
    color: white;
}

form {
    margin-top: 10%;
}

h1 {
    font-size: 40px;
    font-family: Monaco;
    margin-bottom: 10px;
    color: #800000;
    text-shadow: 2px 2px 3px #ff0000;
}

h3 {
    font-size: 60px;
    font-family: Monaco;
    margin-bottom: 10px;
    color: #800000;
    text-shadow: 2px 2px 3px #ff0000;
}

.about {
    padding-top: 200px;
    height: 375px;
    padding: 35px;
    /*background-image:linear-gradient(to bottom,rgba(192, 192, 192, 0.4),  0%, rgba(192, 192, 192, 0.4), 100%), linear-gradient(to bottom, black 0%, black 100%);*/
    /*background-color: white;*/
    opacity: .9;
    background-clip: content-box, padding-box;
    color: white;
    text-align: center;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/*label {
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    background: #800000;
    opacity: 0.8;
    margin: .5em;
    padding: 1%;
    /*color:white;*/


/*font:inherit;}*/

button {
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    background: #800000;
    opacity: 0.8;
    margin: 1px;
    padding: 1%;
}

.input {
    background-color: #99FFCC;
    border: 1px solid #800000;
    width: 230px;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 50px;
}

.btn-primary {
    background-color: #800000;
    position: relative;
    display: inline-block;
    margin: 0 .5em 0 .5em;
}

.topButtons {
    position: relative;
    display: inline-block;
    float: right;
}

#title-heading,
h1 {
    font-size: 130px;
}

h1 {
    font-size: 40px;
    font-family: Monaco;
    margin-bottom: 10px;
    color: #800000;
}
a{
    color:white;

}
