h1{
    font-size: 40px;
    font-family: Monaco;
    margin-bottom: 10px;
    color: #800000;
    text-shadow: 2px 2px 3px #ff0000;
}

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

        h1 {
            font-size: 40px;
            font-family: Monaco;
            margin-bottom: 10px;
            color: #800000;
        }

        .landing {
            margin: relative;
            position: absolute;
            top: 25%;
            left: 0;
            bottom: 0;
            right: 0;
            margin-bottom:5%;
        }

        .landing img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 80%;
        }

        .button {
            background-color: #e7b452;
        }

        .landing p {
            margin-top: 5%;
            text-align: center;
        }

        .landing .btn-primary {
            display: block;
            margin: auto;
        }

        .form-group {
            margin-bottom: 15px;
            margin-top: 2%;
        }

        .input {
            background-color: black;
            border: 1px solid #800000;
            width: 230px;
            padding-top: 50px;
            padding-right: 100px;
            padding-left: 50px;
        }

        a {
            color: #800000;
        }

        a:focus,
        a:hover {
            color: #fff;
        }
        /* Custom default button */

        .btn-default,
        .btn-default:hover,
        .btn-default:focus {
            color: #333;
            text-shadow: none;
            /* Prevent inheritence from `body` */
            background-color: #fff;
            border: 1px solid #fff;
        }
        /*
 * Base structure
 */

        body {

            background-color: black;
            color: #DADADA;
        }
        /* Extra markup and styles for table-esque vertical and horizontal centering */

        .btn-primary {
            background-color: #800000;
            position: relative;
            display: inline-block;
            margin: 0 .5em 0 .5em;
        }

        .topButtons {
            position: relative;
            display: inline-block;
            float: right;
        }
