<link rel="stylesheet" type="text/css" href="styles/barqueue.css">


<h1>Here is the Bar Queue</h1>
<button type='button' ng-click="bartenderLogout()">Bar logout</button>
<br></br>
<table id="queue">
    <tr>
        <th>Username </th>
        <th>Drink Type </th>
        <th>Time </th>
        <th>Close out </th>
        <th>Order Price </th>
        <th>Total Price </th>
        <th>Drink Count </th>
        <th>BAC</th>
    </tr>
    <!-- create a table row for each order in list of orders retrieved from server-->
    <!-- queue is ordered by time the drink order was submitted,  -->
    <!-- potential future refactor if donating to MADD can move a customer's order up in queue -->
    <tr ng-repeat="order in data.orders | orderBy: 'time'" ng-class-even="'even'" ng-class-odd="'odd'">
        <td>{{order.username}}</td>
        <td>{{order.drinktype}}</td>
        <td>{{order.createdAt}}</td>
        <td>{{order.closeout}}</td>
        <td>${{order.currentprice}}</td>
        <td>{{order.totalprice}}</td>
        <td>{{order.drinkcount}}</td>
        <td ng-class="{'bacRed' : order.bac >= 0.28, 'bacGreen' : order.bac <= 0.08, 'bacYellow' : order.bac < 0.28 && order.bac > 0.08}">{{order.bac}}%</td>
        <td class='complete' ng-click="completeOrder(order)">
            <!-- pass $scope.order in to every complete button so that when clicked will remove that specific order from queue -->
            Order Complete!
        </td>
    </tr>


</table>
<br>