<link rel="stylesheet" type="text/css" href="styles/barqueue.css">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="http://res.cloudinary.com/hidgkk5lm/image/upload/v1458948846/BarHawk-navbrand_den81h.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
            <button class="btn btn-primary" type='button' ng-click="bartenderLogout()">Bar logout</button>
            <li><button class="btn btn-primary" ui-sref="customerSignup">Sign Up</button></li>
            </ul>
        </div>
    </div>
</nav>
<h1 class="title-heading">BarHawk Queue</h1>
<button class="btn btn-primary" type='button' ng-click="bartenderLogout()">Bar logout</button>
<button class="btn btn-primary" type='button' ng-click='barClosingWarning()'> Send Bar Closing Warning to all Customer</button>


<!-- <p class='btn btn-primary'>Get a Taxi:</p><input type="checkbox" ng-model="checked" aria-label="Toggle ngHide" ng-click='getTaxi()'><br/> -->

<button class="btn btn-primary" type='button' ng-click='getTaxi()'> Get a Taxi </button>
  <div class="check-element animate-show taxiMessage" ng-if="taxi === true">
    <span class='taxiMessage' class="glyphicon glyphicon-thumbs-up"></span> Sending a text to get taxi to come to the bar.
  </div>

<br></br>
<table id="queue">
    <tr class="tableHeaders">
        <th>Username </th>
        <th>Drink Type </th>
        <th>Time </th>
        <th>Close out </th>
        <th>Order Price </th>
        <th>Total Price </th>
        <th>Drink Count </th>
        <th>BAC</th>
    </tr>
    <!-- create a table row for each order in list of orders retrieved from server-->
    <!-- queue is ordered by time the drink order was submitted,  -->
    <!-- potential future refactor if donating to MADD can move a customer's order up in queue -->
    <tr ng-repeat="order in data.orders | orderBy: 'time'" ng-class-even="'even'" ng-class-odd="'odd'">
        <td>{{order.username}}</td>
        <td>{{order.drinktype}}</td>
        <td>{{order.createdAt}}</td>
        <td>{{order.closeout}}</td>
        <td>${{order.currentprice}}</td>
        <td>{{order.totalprice}}</td>
        <td>{{order.drinkcount}}</td>
        <td ng-class="{'bacRed' : order.bac >= 0.28, 'bacGreen' : order.bac <= 0.08, 'bacYellow' : order.bac < 0.28 && order.bac > 0.08}">{{order.bac}}%</td>
        <td class='complete' ng-click="completeOrder(order)">
            <!-- pass $scope.order in to every complete button so that when clicked will remove that specific order from queue -->
            Order Complete!
        </td>
        <td class='cancel' ng-click="cancelOrder(order)">
            <!-- pass $scope.order in to every complete button so that when clicked will remove that specific order from queue -->
            Cancel Order
        </td>
    </tr>


</table>
<br>