<div ng-controller="customerController">
<h3>Sign Up!</h3>
  <form name="userForm">
    <label>Username</label>
    <input type="text" ng-model="newUser.username">
    <strong>{{newUser.username}}</strong><br>
    <label>Password</label>
    <input type="text" ng-model="newUser.password">
    <strong>{{newUser.password}}</strong><br>
    <label>Age</label>
    <input type="text" ng-model="newUser.age">
    <strong>{{newUser.age}}</strong><br>
    <label>Weight</label>
    <input type="text" ng-model="newUser.weight">
    <strong>{{newUser.weight}}</strong><br>
    <label class="radio-inline"><input type="radio" name="optradio"ng-model="newUser.gender">Male</label>
<label class="radio-inline"><input type="radio" name="optradio" ng-model="newUser.gender">Female</label><br>
<input type="submit" value = 'Submit' ng-click ='signUp()'>
  </form>
</div>
