<h5>Are you a bartender? <a ui-sref="barSignin">Click here</a> to login as a bartender</h5>
<br></br>
<h1>Customer Login</h1>


<form name="signinForm" novalidate ng-submit='logIn(signinForm.$valid)'>



  <div class='form-group' ng-class="{ 'has-error' : invalidLogIn && !signinForm.username.$pristine && signinForm.username.$touched }">
    <label>Username</label>
    <input name='username' type="text" class='form-control' ng-model="loginAttempt.username" ng-change="clear()" required/>
    <p ng-show="invalidLogIn" class='help-block'>Invalid username and/or password combination</p>
    <!-- <p>{{invalidLogIn}}</p> -->
  </div>



  <div class='form-group' ng-class="{ 'has-error' : invalidLogIn && !signinForm.password.$pristine &&  signinForm.password.$touched}">
    <label>Password</label>
    <input name='password' type="password" class='form-control' ng-model="loginAttempt.password" ng-change="clear()" required/>
    <p ng-show="invalidLogIn" class='help-block'>Invalid username and/or password combination</p>
    <!-- <p>{{invalidLogIn}}</p> -->
  </div>
  <div class='form-group'>
    <button type="submit" class="btn btn-primary" ng-disabled="signinForm.$invalid">Sign In!</button>
  </div>
</form>




<p>New here? <a ui-sref='customerSignup'>Click here</a> to sign up</p>
