<link rel="stylesheet" type="text/css" href="styles/sign-up.css">
<div class="container-fluid">
<a class="navbar-brand" href="#"><img src="http://res.cloudinary.com/hidgkk5lm/image/upload/v1458948846/BarHawk-navbrand_den81h.png"></a>
<form name="userForm" novalidate ng-submit='signUp(userForm.$valid)'>
    <div class='row'>
        <div class='form-group col-md-2'></div>
        <div class='form-group col-md-4' ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine &&  userForm.firstname.$touched}">
            <label> First Name </label>
            <input name='firstname' type="text" class="form-control" ng-model="newUser.firstname" ng-class="{'error': userForm.$invalid && userForm.$dirty}" class="col-md-4" required/>
            <!--  <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p> -->
            <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">Please enter your first name.</p>
        </div>
        <div class='form-group col-md-4' ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine &&  userForm.lastname.$touched}">
            <label> Last Name </label>
            <input name='lastname' type="text" class="form-control" ng-model="newUser.lastname" ng-class="{'error': userForm.$invalid && userForm.$dirty}" required/>
            <!--  <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p> -->
            <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block">Please enter your last name.</p>
        </div>
    </div>
    <div class='row'>
        <div class='form-group col-md-2'></div>
        <div class='form-group col-md-4' ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine &&  userForm.username.$touched}">
            <label> Username </label>
            <input name='username' type="text" class="form-control" ng-model="newUser.username" ng-minlength="4" ng-maxlength="16" ng-class="{'error': userForm.$invalid && userForm.$dirty}" required/>
            <!--  <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p> -->
            <p ng-show="userForm.username.$error.minlength" class="help-block">Sorry, that username is too short.</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Sorry, that username is too long.</p>
        </div>
        <div class='form-group col-md-4' ng-class="{ 'has-error' : userForm.phonenumber.$invalid && !userForm.phonenumber.$pristine && userForm.phonenumber.$touched }">
            <label>Phone Number</label>
            <input name='phonenumber' type="number" class="form-control" ng-model="newUser.phonenumber" ng-minlength="10" ng-maxlength="10" ng-class="{'error': userForm.$invalid && userForm.$dirty}" required/>
            <p ng-show="userForm.phonenumber.$invalid && !userForm.phonenumber.$pristine" class="help-block">We need your phone number to let you know when your drinks are ready!</p>
        </div>
    </div>
    <div class='row'>
        <div class='form-group col-md-2'></div>
        <div class='form-group col-md-4' ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine && userForm.password.$touched}">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="newUser.password" ng-minlength="8" ng-maxlength="20" ng-class="{'error': userForm.$invalid && userForm.$dirty}" required/>
            <p ng-show="userForm.password.$error.minlength" class="help-block">To help keep your account secure, please choose a password between 8-20 characters.</p>
        </div>
        <div class='form-group col-md-4' ng-class="{ 'has-error' : userForm.passwordCheck.$invalid && !userForm.passwordCheck.$pristine && userForm.passwordCheck.$touched}">
            <label>Confirm Password</label>
            <input type="password" name='passwordCheck' class="form-control" ng-model="passwordCheck" ng-class="{'error': userForm.$invalid && userForm.$dirty}" required compare-to="newUser.password" />
            <p ng-show="userForm.passwordCheck.$invalid && userForm.$dirty" class="help-block">Your passwords do not match. Please try again.</p>
        </div>
    </div>
    <div class='row'>
        <div class='form-group col-md-2'></div>
        <div class='form-group col-md-2' ng-class="{ 'has-error' : userForm.age.$invalid && !userForm.age.$pristine && userForm.age.$touched}">
            <label>Age</label>
            <input name='age' type="number" class="form-control" ng-model="newUser.age" min="21" ng-class="{'error': userForm.$invalid && userForm.$dirty}" required/>
            <p ng-show="userForm.age.$error.min" class="help-block">You're too young to use this application.</p>
        </div>
        <div class='form-group col-md-2' ng-class="{ 'has-error' : userForm.weight.$invalid && !userForm.weight.$pristine && userForm.weight.$touched }">
            <label>Weight</label>
            <input name='weight' type="number" class="form-control" ng-model="newUser.weight" ng-class="{'error': userForm.$invalid && userForm.$dirty}" required/>
            <p ng-show="userForm.weight.$invalid && !userForm.weight.$pristine" class="help-block">Your weight is required so we can calculate your BAC!</p>
        </div>
        <div class='form-group col-md-2' class='form-control' ng-class="{ 'has-error' : userForm.gender.$invalid && !userForm.gender.$pristine && userForm.gender.$touched}">
            <label>Gender</label>
            <br>
            <label>
                <input name="gender" type="radio" ng-model="newUser.gender" value="male"> Male
            </label>
            <label>
                <input name="gender" type="radio" ng-model="newUser.gender" value="female"> Female
            </label>
            <p ng-show="userForm.gender.$invalid && !userForm.gender.$pristine" class="help-block">Your gender is required so we can calculate your BAC!</p>
        </div>
        <div class='form-group col-md-2'>
            <br>
            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        </div>
    </div>
</form>
<p ng-show='invalidSignup'>This user is already registered!</p>
</div>
<div class = 'about'>

<!-- <h2>BarHawk is a drink ordering and fulfillment app that makes ordering drinks easier, and safer, for both customers and bartenders alike. </h2>
 -->
<h2>BarHawk is an app that calculates a customer's Blood Alcohol Content (BAC) throughout the night while improving the overall bar experience by streamlining ordering and fufillment.</h2>
<br>
<h4>BarHawk’s algorithm leverages the Windmark Formula and data collected throughout the night to dynamically calculate their BAC every 5 minutes. By providing a customer with their BAC they will be able to decide when it’s time to slow down or settle up. </h4>

</div>
