<link rel="stylesheet" type="text/css" href="styles/sign-in.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">
<div class="container-fluid">
  <div class="row navButtons">
    <div class="col-xs-8 col-md-6"></div>
    <div class="col-xs-4 col-md-6">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="btn btn-primary" ui-sref="barSignin">Bartender Sign In</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="landing">
    <div class="row">
      <div class="col-xs-0 col-md-3"></div>
      <div class="col-xs-12 col-md-6"><img src="http://res.cloudinary.com/hidgkk5lm/image/upload/v1458948846/BarHawk-navbrand_den81h.png"></div>
      <div class="col-xs-0 col-md-3"></div>
    </div>
    <form name="signinForm" novalidate ng-submit='logIn(signinForm.$valid)'>
      <div class="row">
        <div class="col-xs-2 col-md-5"></div>
        <div class="form-group col-xs-8 col-md-2">
          <label>Username</label>
          <input name='username' type="text" class='form-control' ng-model="loginAttempt.username" placeholder="" ng-change="clear()" required/>
          <!-- </div> -->
          <!--    <div class='form-group' ng-class="{ 'has-error' : invalidLogIn && !signinForm.password.$pristine &&  signinForm.password.$touched}"> -->
        </div>
        <div class="col-xs-2 col-md-5"></div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-md-5"></div>
        <div class="form-group col-xs-8 col-md-2">
          <label>Password</label>
          <input name='password' type="password" class='form-control' ng-model="loginAttempt.password" ng-change="clear()" required/>
          <div class='form-group' ng-class="{ 'has-error' : invalidLogIn && !signinForm.password.$pristine &&  signinForm.password.$touched}">
            <p ng-show="invalidLogIn" class='help-block'>Invalid username and/or password combination</p>
          </div>
          <!-- </div -->
        </div>
        <!-- <div class="form-group col-xs-2 col-md-5"></div> -->
      </div>
      <div class="row">
        <div class="form-group col-xs-2 col-md-4"></div>
        <div class='form-group col-xs-2 col-md-2'>
          <button type="submit" class="btn btn-primary" ng-disabled="signinForm.$invalid">Sign In!</button>
        </div>
        <div class='form-group col-xs-2 col-md-2'>
          <button type="submit" class="btn btn-primary" ng-click="guestUser()">Guest Login</button>
        </div>
        <div class='col-xs-2 col md-3'>
          <br>
          <p> New here? <a ui-sref="customerSignup">  Click here to register</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
