<link rel="stylesheet" type="text/css" href="styles/barsign-in.css">

<div class='container'>
    <div class="topButtons">
        <button class="btn btn-primary" ui-sref="customerLogin">Customer Signin</button>
    </div>
</div>
<h1 id='title-heading'>Bar Hawk</h1>

<h1>Welcome, Bartender.</h1>
<form name="barSignin" novalidate ng-submit='barLogin()'>
  <div class="form-group " ng-class="{ 'has-error' : invalidLogIn}">
    <label class="label">Username</label>
    <input type="text" name="username" class="form-control" ng-model="barUser.barUsername" required/>
    <p ng-show="invalidLogIn" class='help-block'>Invalid username and/or password combination</p>
    <!-- <p>{{invalidLogIn}}</p> -->
  </div>
  <div class="form-group " ng-class="{ 'has-error' : invalidLogIn && !barSignin.password.$pristine && barSignin.password.$touched }">
    <label>Password</label>
    <input type="password" name="password" class="form-control" ng-model="barUser.barPassword" required/>
    <p ng-show="invalidLogIn" class='help-block'>Invalid username and/or password combination</p>
    <!-- <p>{{invalidLogIn}}</p> -->
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="barSignin.$invalid">Signin</button>
  </div>
</form>
